.side-bar
  .group-list
    .user-name
      .user-names
        masa
      .icon
        =link_to "#" do
          =icon('far','edit')
        =link_to "#" do
          =icon('fas','cog')
  .group-chat
    .group-name
      .group-chatname
        techcamp
      .talk-list
        まだメッセージがありません